<!DOCTYPE html 
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>$WikiTitle | $Group / $Title $Action</title>
  <link rel="shortcut icon" href="$SkinDirUrl/icon_prom.ico" />
  <link rel='stylesheet' href='$SkinDirUrl/prom.css' type='text/css' />
  <meta http-equiv='Content-Style-Type' content='text/css' />
  <!--HeaderText-->
</head>
<body>
<!--PageHeaderFmt-->
  <div id='wikilogo'>
    <a href='$ScriptUrl'><img src='$PageLogoUrl' alt='$WikiTitle' border='0' /></a>
  </div>
  <div id='wikihead'>
    <form action='$ScriptUrl'>
      <input type='hidden' name='n' value='$FullName' />
      <input type='hidden' name='action' value='search' />
      <a href='$ScriptUrl/$[$SiteGroup/Search]'>$[Search]</a>:
      <input class='searchbox' type='text' name='q' value='' />
      <input class='searchbutton' type='submit' value='$[Go]' />
    </form>
    <form class="newpage" action='$ScriptUrl/index.php' method="post">
      <input type='hidden' name='n' value='$FullName' />
      <input type='hidden' name="action" value="new">
      <input name="base" value="$Group.Inhalt" type="hidden">
      <input name="template" value="" type="hidden">
      Neue Seite:
      <input class="newpagetext" name="name" value="" type="text">
      <input class="newpagebutton" value="Los" type="submit">
    </form>
    <br />
    $[Recent Changes]:
    <a href='$ScriptUrl/$[Site/AllRecentChanges]'>alle</a> | <a href='$ScriptUrl/$[$Group/RecentChanges]'>$Group</a>
  </div>
<!--/PageHeaderFmt-->
  <table id='wikimid' width='100%' cellspacing='0' cellpadding='0'><tr>
<!--PageLeftFmt-->
      <td id='wikileft' valign='top'>
        <!--wiki:$Group.SideBar $SiteGroup.SideBar--></td>
<!--/PageLeftFmt-->
      <td id='wikibody' valign='top'>
        <div id='wikicmds'><!--wiki:$Group.PageActions $SiteGroup.PageActions--></div>
<!--PageTitleFmt-->
        <div id='wikititle'>
          <div class='pagegroup'><a href='$ScriptUrl/$Group'>$Group</a> /</div>
          <h1 class='pagetitle'>$Title</h1></div>
<!--PageText-->
      </td>
    </tr></table>
<!--PageFooterFmt-->
  <div id='wikifoot'>
    <div class='footnav'>
      <a href='$PageUrl?action=edit'>$[Edit]</a> -
      <a href='$PageUrl?action=diff'>$[History]</a> -
      <a href='$PageUrl?action=search&q=link=$FullName'>$[Backlinks]</a> -
      <a href='$PageUrl?action=print' target='_blank'>$[Print]</a> -
      <a href='$ScriptUrl/$[$Group/RecentChanges]'>$[Recent Changes]</a> -
      <a href='$ScriptUrl/$[$SiteGroup/Search]'>$[Search]</a></div>
    <div class='lastmod'>$[Page last modified on $LastModified]</div></div>
<!--/PageFooterFmt-->
</body>
</html>
