/**************************************************************************
* HIGH LEVEL ELEMENTS
***************************************************************************/

/* The encompassing Table, holds the monthtitle, dayofweektitles and
* daynumber Cells
*/
table.pmcal  {
	width:700px;
	color:#bb0000;
	background:#ffccbb;
	border:1px dotted;
	padding:15px;
/*
	border:1px solid #bbbbbb;
	border-spacing:0px;
	background:#eeeeee;
	vertical-align:top;
*/
}
table.pmcal a {
	color:#bb0000;
	text-decoration:none;
}


/**************************************************************************
* TITLE CELL ELEMENTS
***************************************************************************/

/* The Cells used for the days of the week, e.g. Sun, Mon, Tue,...
*/
td.pmcaldayofweektitle {
	text-align:center;
	border:1px dotted;
/*
	border:1px solid #bbbbbb;
	background:#ffffff;
*/
}

/* The Cell the spans across the top holding the Month name.
*/
td.pmcalmonthtitle {
	border:none;
	text-align:right;
/*
	background:#ffffff;
	text-align:center;
	padding:15px;
*/
}

/**************************************************************************
* TITLE CELL SPECIFIC ELEMENTS
***************************************************************************/

/*
td.pmcaldayofweektitle p {
	font-size:12pt;
	font-family:sans-serif;
}
*/

td.pmcalmonthtitle p {
	font-size:24pt;
	font-weight:bold;
	font-style:italic;
}

td.pmcalmonthtitle a.wikilink {
	text-decoration:none;
	right:0px;
}



/**************************************************************************
* DAY CELL ELEMENTS
***************************************************************************/

/* Cells used for filler at beginning and/or end of the month.
*/
td.pmcalnull {
	background:#ffccbb;
	border:none;
}

/* Cells holding daynumbers for the month.  This also will have the
* included text from the wiki page for the day.
*/
td.pmcalday {
	border-top:1px dotted #ffbbbb;
	border-bottom:1px dotted;
	border-right:1px dotted;
	border-left:1px dotted #ffbbbb;
	background:#fff5f5;
/*
	border-right:none;
	border-bottom:none;
	border-right:2px solid #cccccc;
	border-bottom:2px solid #cccccc;
	border-left:2px solid #ffcccc;
	border-top:2px solid #ffcccc;
	background:#ffffcc;
	padding:0px;
	width:14%;
	height:80px;
	vertical-align:top;
	font-weight:normal;
	margin:0px;
*/
}

/* Single Cell holding daynumbers for today.  This also will have the
* included text from the wiki page for today.
*/
td.pmcaltoday {
	border-top:1px dotted #ffbbbb;
	border-bottom:1px dotted;
	border-right:1px dotted;
	border-left:1px dotted #ffbbbb;
	background:#fff5f5;
/*
	background:#ffeeee;
	border-right:2px solid #aaddaa;
	border-bottom:2px solid #aaddaa;
	border-left:2px solid #ffffff;
	border-top:2px solid #ffffff;
	background:#ccffcc;
	padding:0px;
	width:10%;
	height:80px;
	vertical-align:top;
	font-weight:normal;
	margin:0px;
*/
}

/**************************************************************************
* DAY CELL SPECIFIC ELEMENTS
***************************************************************************/


/*
* Normal Days  See pmcalday above. 
*/

td.pmcalday  {
	font-size:6pt;
	list-style-type:none;
}
td.pmcalday li {
	position:relative;
	left:-25px;
}


td.pmcalday:hover {
/*
	background:#ffffdd;
*/
}

td.pmcalday a.selflink {
	text-decoration:none;
/*
	border:1px solid #000000;
	background:#995555;
	color:#ffffff;
	border-style:outset;
	padding-left:3px;
	padding-right:3px;
*/
}

td.pmcalday a.createlinktext {
	text-decoration:none;
	border:none;
}

/* Very specific day elements */
td.pmcalday span.pmcaldaynumber {
	font-size:12pt;
	font-family:sans-serif;
	text-decoration:none;
}

/*
* MSIE hates this stuff
* td.pmcalday span.pmcaldaynumber >a.wikilink {
*	font-size:12pt;
*	font-family:sans-serif;
*	text-decoration:none;
*	border:1px solid #000000;
*	background:#ffffff;
*	border-style:outset;
*	padding-left:3px;
*	padding-right:3px;
*}
*
*td.pmcalday span.pmcaldaynumber >a.createlink {
*	display:none;
*}
*/

/*
span.pmcaldaynumber a.wikilink {
	font-size:12pt;
	font-family:sans-serif;
	text-decoration:none;
	border:1px solid #000000;
	background:#ffffff;
	border-style:outset;
	padding-left:3px;
	padding-right:3px;
}
*/

span.pmcaldaynumber a.createlink {
	display:none;
}


/*
* Today  See pmcaltoday above. 
*/

td.pmcaltoday  {
	font-size:6pt;
}

td.pmcaltoday li {
	position:relative;
	left:-25px;
}

td.pmcaltoday:hover {
/*
	background:#fff0f0;
*/
}

/*
td.pmcaltoday a.selflink {
	text-decoration:none;
	font-weight:bold;
	border:1px solid #000000;
	background:#995555;
	color:#ffffff;
	border-style:outset;
}
*/

td.pmcaltoday a.createlinktext {
	text-decoration:none;
	border:none;
}

/* Very specific today elements */

/*
* MSIE hates this stuff
* td.pmcaltoday span.pmcaldaynumber >a.wikilink {
*	font-size:12pt;
*	font-weight:bold;
*	font-family:sans-serif;
*	text-decoration:none;
*	border:1px solid #000000;
*	background:#ffffff;
*	border-style:outset;
*	padding-left:3px;
*	padding-right:3px;
* }
*
* td.pmcaltoday span.pmcaldaynumber >a.createlink {
* 	display:none;
* }
*/

span.pmcaldaynumber a.wikilink {
/*
	font-size:12pt;
	font-family:sans-serif;
	text-decoration:none;
	font-weight:bold;
	border:1px solid #000000;
	background:#ffffff;
	border-style:outset;
	padding-left:3px;
	padding-right:3px;
*/
}

span.pmcaldaynumber a.createlink {
	display:none;
}

span.pmcaltodaynumber  a.wikilink {
	position:absolute;
	color:#ffcccc;
	font-size:30pt;
	font-weight:bold;
	font-family:sans-serif;
}
span.pmcaltodaynumber  a.createlinktext {
	position:absolute;
	color:#ffcccc;
	font-size:36pt;
	font-weight:bold;
	font-family:sans-serif;
}


/**************************************************************************
* OTHER ELEMENTS
***************************************************************************/

/* The today link to take you today */
span.pmcaltodaylink {
/*
* to make it dissappear!
	display:none;
*/
	position:relative;
	left:10px;
	top:60px;
	border-right:1px solid #ddaaaa;
	border-bottom:1px solid #ddaaaa;
	border-left:1px solid #ffffff;
	border-top:1px solid #ffffff;
	font-style:bold;
	font-size:8pt;
	padding:5px;
	background:#fff5f5;
	margin-top:5px;
	margin-bottom:5px;
}

span.pmcaltodaylink a {
	color:#bb0000;
	text-decoration:none;
	font-family:sans-serif;
}

span.pmcaldaytextlink a {
	text-decoration:none;
	font-family:sans-serif;
}

span.pmcaltodaytextlink a {
	text-decoration:none;
	font-family:sans-serif;
	background:#ccffcc;
	border-right:2px solid #aaddaa;
	border-bottom:2px solid #aaddaa;
	border-left:2px solid #ffffff;
	border-top:2px solid #ffffff;
}

/**************************************************************************
* OTHER CALENDARS
* All other calendar includes link have a pmcalincludelink
* class and the entries are pmcalinclude.
*
* If there's a pmcal at Holidays/Holidays, those entries will
* be included on your calendar if you specify (:pmcal cals=Holidays:)
* Below is CSS for the pmcalincludeHolidays and pmcalincludeHolidayslink.
***************************************************************************/

span.pmcalinclude {
	display:block;
	background:#ddddaa;
}

span.pmcalinclude a {
	display:block;
	color:#bb0000;
	text-decoration:none;
	text-transform:uppercase;
	font-family:sans-serif;
}

span.pmcalincludelink {
/*
* to make it dissappear!
	display:none;
*/
	position:relative;
	left:10px;
	top:60px;
	border-right:1px solid #ddaaaa;
	border-bottom:1px solid #ddaaaa;
	border-left:1px solid #ffffff;
	border-top:1px solid #ffffff;
	font-style:bold;
	font-size:8pt;
	padding:5px;
	margin-top:5px;
	margin-bottom:5px;
	background:#ddddaa;
}

span.pmcalincludelink a {
	color:#bb0000;
	text-decoration:none;
	text-transform:uppercase;
	font-family:sans-serif;
}

span.pmcalincludetextlink a {
	border-right:2px solid #cccc99;
	border-bottom:2px solid #cccc99;
	border-left:2px solid #ffffff;
	border-top:2px solid #ffffff;
	text-decoration:none;
	font-family:sans-serif;
	background:#ddddaa;
}

span.pmcalincludeHolidays {
	display:block;
	background:#ffcccc;
}

span.pmcalincludeHolidays a {
	display:block;
	color:#bb0000;
	text-decoration:none;
	text-transform:uppercase;
	font-family:sans-serif;
}

span.pmcalincludeHolidayslink {
	position:relative;
	left:10px;
	top:60px;
	border-right:1px solid #ddaaaa;
	border-bottom:1px solid #ddaaaa;
	border-left:1px solid #ffffff;
	border-top:1px solid #ffffff;
	font-style:bold;
	font-size:8pt;
	padding:5px;
	margin-top:5px;
	margin-bottom:5px;
	background:#ffcccc;
}
span.pmcalincludeHolidayslink a {
	color:#bb0000;
	text-decoration:none;
	text-transform:uppercase;
	font-family:sans-serif;
}

span.pmcalincludeHolidaystextlink a {
	border-right:2px solid #ddaaaa;
	border-bottom:2px solid #ddaaaa;
	border-left:2px solid #ffffff;
	border-top:2px solid #ffffff;
	text-decoration:none;
	font-family:sans-serif;
	background:#ffcccc;
}
